<div class = "basics-Page">
    <H3>Routing</H3>
    File Name : app-routing.module.ts <br>
    this.router.navigate(['routeName']); <br>
    <img class = "routeImage" src="../../../../assets/Route.png" alt="">
    <hr>
    <h3>Authguard</h3>
    <h4>Create new Auth Guard</h4>
    <ul>
        <li>ng g guard guardName</li>
        <li>Select type of guard</li>
    </ul>
    <h4>Types of Authguard</h4>
    <ul>
        <li>CanActivate : Will not allow user to reach the rout : if AuthGuard is set to true it wil allow</li>
        <li>CanActivateChild : </li>
        <li>CanDeactivate : </li>
        <li>Resolve : </li>
        <li>CanLoad : </li>
    </ul>
</div>  