<h3>Map</h3>
<h4>Change structure of Array</h4>
<code>
    this.mapArray = arrayObj.map(person => {{ '{' }}<br>
        let changedPerson = {{ '{' }}"name" : person.name}<br>
        return changedPerson;<br>
      })    <br>
</code>
<hr>
<h3>Filter</h3>
<h4>To filterout based on condition</h4>
<code>
    this.filterArray = arrayObj.filter(person => {{ '{' }} <br>
        if(CONDITION) <br>
          return true; <br>
          else <br>
        return false;<br>
      });
</code>
<h3>Slice</h3>
<code>
    const arr = ["1", "2", "3", "4", "5"];<br>
    arr.slice(1, 3) = ["2", "3"] <br>
    <i>starting position, number of charecter from start of array</i><br><br>
    arr.splice(1, 3) = ["2", "3", "4"] <br>
    <i>starting position, number of charecter required</i><br><br>
    arr.unshift("-1", "0") = ["-1", "0", "1", "2", "3", "4", "5"] <br>
    <i>unshift() adds new items to the beginning of an array:</i><br><br>
    unshift() same as push() but adds in the begining <br>
    shift() same as pop() but removes from the begining
</code>
<hr>
<h3>Closure</h3>
{{name}} <br>
<button (click) = "name2('Dash')">Bhinsu</button>
<button (click) = "name1('Kar')">Soumitra</button>
<hr>
<h3>Prototype</h3>
<img src="../../../../assets/Prototype.png" width = "60%" alt="">