<div class = "basics-Page">

    <h3>Getters Setters</h3>
    <table>
        <tr>
            <td><input type="text" [(ngModel)] = "value"></td>
            <td><button (click) = "setValue()">Setter</button></td>
        </tr>
        <tr>
            <td>{{valueGet}}</td>
            <td>Getter</td>
        </tr>
    </table>

    
    <h3>Interface</h3>
    <code>
            export interface INTERFACE_NAME {{'{'}} <br>
                var : type, <br>
                functionName(): return type <br>
            {{'}'}}
    </code>
    <hr>
    Examples of <b>non-semantic</b>  elements: {{'<'}}div> and {{'<'}}span> - Tells nothing about its content. <br>
    Examples of <b> semantic</b>  elements: {{'<'}}form>, {{'<'}}table>, and {{'<'}}article> - Clearly defines its content.
    <hr>
    <h4>Let vs Var</h4>
    <ul>
        <li>var is <b> Function scope</b>, let is <b>block scoped</b></li>
        <li>var allows <b> redeclaration </b> <br>
            var a = 5 <br>
            var a = 6 // Allowed <br>
            let a = 5 <br>
            let a = 6 // Compilation Error
        </li>
        <li>
            <b> Hoisting occours in var </b><br>
            console.log(var1); //Returns Undefined <br>
            var var1 = 2; <br>
            console.log(var2); //Compilation Error <br>
            let var2 = 2; <br>
        </li>
    </ul>
</div>